
<h1>My Tasks</h1>

<%@tasks.each do |task| %>

    <% if task.completed == true %>
      <div class = "task-completed">
        <input type="checkbox" id="scales" name="scales" checked>
        <%= link_to task.title, task_path(task), :class=> "link" %>
        <%= link_to task_path(task), method: :delete, :class=>"delete" do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
        <% end %>
      </div>
    <% elsif task.completed == false %>
      <div class = "task-completed">
        <input type="checkbox" id="scales" name="scales" >
        <%= link_to task.title, task_path(task), :class=> "link" %>
        <%= link_to task_path(task), method: :delete, :class=>"delete" do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <br>
  <%= link_to " ✛ Add a New Task ", tasks_new_path, :class=>"edit-link" %>
